<a href="https://colab.research.google.com/github/sstala/kurs/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-11-28 to 2017-11-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [4]:
df.head()

             Open   High     Low  Close    Volume
Date
2022-11-28  93.93  96.40  93.430  93.95  75062316
2022-11-25  93.79  94.43  93.065  93.41  35088609
2022-11-23  93.24  94.58  92.830  94.13  59414684
2022-11-22  92.62  93.35  90.870  93.20  62191962
2022-11-21  93.97  95.02  90.590  92.46  84330270

In [5]:
df.tail() # zwraca 5 ostatnich wierszy

               Open     High     Low    Close     Volume
Date
2017-12-06  56.8995  57.7945  56.804  57.6470   55552840
2017-12-05  56.4130  57.9635  56.237  57.0785   81503780
2017-12-04  58.6925  58.7600  56.400  56.6975  118546300
2017-12-01  58.6025  58.9825  57.600  58.1175   82030140
2017-11-30  58.3550  58.9285  58.000  58.8375   89562560

In [7]:
df.columns = [col.lower() for col in df.columns] # zamiana liter na małe w kolumnach obiektu df
df.head()

             open   high     low  close    volume
Date
2022-11-28  93.93  96.40  93.430  93.95  75062316
2022-11-25  93.79  94.43  93.065  93.41  35088609
2022-11-23  93.24  94.58  92.830  94.13  59414684
2022-11-22  92.62  93.35  90.870  93.20  62191962
2022-11-21  93.97  95.02  90.590  92.46  84330270

In [8]:
df.describe()

              open         high          low        close        volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.257000e+03
mean    119.434681   120.862900   117.846631   119.360313  8.636198e+07
std      36.306808    36.709062    35.852425    36.239450  4.080586e+07
min      56.413000    57.794500    56.237000    56.697500  1.762674e+07
25%      88.733000    89.494000    87.750000    88.713000  5.850470e+07
50%     108.104000   110.781000   106.324200   108.000000  7.513990e+07
75%     158.338000   159.938000   156.250000   158.100000  1.026244e+08
max     187.200000   188.654000   184.840000   186.570000  3.113457e+08

In [16]:
df = df.head(10)
df[['open', 'close']]
df_open = df.iloc[:,[0]]
df_close = df.iloc[:,[1]]
df_open

              open
Date
2022-11-28   93.93
2022-11-25   93.79
2022-11-23   93.24
2022-11-22   92.62
2022-11-21   93.97
2022-11-18   95.95
2022-11-17   95.37
2022-11-16   96.85
2022-11-15  103.21
2022-11-14   98.77